In [34]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\ayushi\anaconda3\lib\site-packages (4.1.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\ayushi\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\ayushi\anaconda3\lib\site-packages (from selenium) (0.19.0)
Requirement already satisfied: urllib3[secure]~=1.26 in c:\users\ayushi\anaconda3\lib\site-packages (from selenium) (1.26.4)
Requirement already satisfied: attrs>=19.2.0 in c:\users\ayushi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (20.3.0)
Requirement already satisfied: outcome in c:\users\ayushi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: sniffio in c:\users\ayushi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\users\ayushi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.10)
Requirement already satisfied: async-generator>=1.9 in c:\users\ayushi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: cffi>=1.14 in c:\users\ayushi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.5)
Requirement already satisfied: sortedcontainers in c:\users\ayushi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.3.0)
Requirement already satisfied: pycparser in c:\users\ayushi\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\ayushi\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.0.0)
Requirement already satisfied: certifi in c:\users\ayushi\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (2020.12.5)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\ayushi\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (3.4.7)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\ayushi\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (20.0.1)
Requirement already satisfied: six>=1.5.2 in c:\users\ayushi\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure]~=1.26->selenium) (1.15.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\ayushi\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.12.0)

In [35]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings 
warnings.filterwarnings('ignore')

In [36]:
driver=webdriver.Chrome(r'C:\Users\AYUSHI\Downloads\chromedriver_win32\chromedriver.exe')

In [56]:
driver=webdriver.Chrome('chromedriver.exe')

In [57]:
url='https://www.naukri.com'
driver.get(url)

In [38]:
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job

In [39]:
search_job.send_keys('Data analyst')

In [40]:
search_locn=driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section/div/form/div[2]/div/div/div/div[1]/div[2]/input')
search_locn

In [41]:
search_locn.send_keys('Bangalore')

In [42]:
search_btn=driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section/div/form/div[3]/button')
search_btn

In [43]:
search_btn.click()

In [46]:
titles_tags=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(titles_tags)

20

In [47]:
job_titles=[]
for i in titles_tags:
    job_titles.append(i.text)
job_titles[0:10]

['BUSINESS ANALYST -DATA SCIENCE-CONSUMER',
 'Lead - Data Analyst / Scientist',
 'Data Analyst',
 'Senior Data Analyst - Supporting Audits',
 'Data Analyst',
 'Data Analyst',
 'Senior Data Analyst - KPO',
 'Data Analyst',
 'Financial Data Analyst',
 'Tcs Hiring For Data Analyst / Engineers']

In [48]:
company_tags=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
len(company_tags)

20

In [49]:
company_names=[]
for j in company_tags:
    company_names.append(j.text)
company_names[0:10]

['BRIDGEi2i Analytics Solutions Private Limited',
 'Axim Technologies',
 'Jeeva Organic',
 'Visa',
 'Flipkart',
 'Novel Office',
 'Huquo Consulting Pvt. Ltd',
 'Snaphunt',
 "Moody's",
 'TCS']

In [50]:
location_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(location_tags)

20

In [51]:
location_names=[]
for k in location_tags:
    location_names.append(k.text)
location_names[0:10]

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bengaluru/Bangalore',
 'Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Pune, Bangalore/Bengaluru, Delhi / NCR']

In [52]:
experience_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]/span')
len(experience_tags)

20

In [53]:
experience_years=[]
for k in experience_tags:
    experience_years.append(k.text)
experience_years[0:10]

['0-2 Yrs',
 '12-14 Yrs',
 '3-8 Yrs',
 '5-8 Yrs',
 '1-2 Yrs',
 '0-3 Yrs',
 '7-12 Yrs',
 '0-2 Yrs',
 '0-2 Yrs',
 '4-9 Yrs']

In [54]:
len(job_titles),len(company_names),len(experience_years),len(location_names)

(20, 20, 20, 20)

In [55]:
jobs=pd.DataFrame()
jobs['Job titles']= job_titles
jobs['Company ']= company_names
jobs['Experience']= experience_years
jobs['Location']= location_names
jobs[0:10]

,Job titles,Company,Experience,Location
0,BUSINESS ANALYST -DATA SCIENCE-CONSUMER,BRIDGEi2i Analytics Solutions Private Limited,0-2 Yrs,Bangalore/Bengaluru
1,Lead - Data Analyst / Scientist,Axim Technologies,12-14 Yrs,Bangalore/Bengaluru
2,Data Analyst,Jeeva Organic,3-8 Yrs,Bangalore/Bengaluru
3,Senior Data Analyst - Supporting Audits,Visa,5-8 Yrs,Bangalore/Bengaluru
4,Data Analyst,Flipkart,1-2 Yrs,Bengaluru/Bangalore
5,Data Analyst,Novel Office,0-3 Yrs,Bangalore/Bengaluru
6,Senior Data Analyst - KPO,Huquo Consulting Pvt. Ltd,7-12 Yrs,"Gurgaon/Gurugram, Bangalore/Bengaluru"
7,Data Analyst,Snaphunt,0-2 Yrs,Bangalore/Bengaluru
8,Financial Data Analyst,Moody's,0-2 Yrs,Bangalore/Bengaluru
9,Tcs Hiring For Data Analyst / Engineers,TCS,4-9 Yrs,"Pune, Bangalore/Bengaluru, Delhi / NCR"